{% block content %}
    <div class="gamemap" id='grid'>
    {% for cell in map.grounds %}
    <div data-coordinates="{{ cell.x }} {{ cell.y }}" style="background-image: url('{{ cell.img_path }}'); grid-column: {{ cell.y }}; grid-row: {{ cell.x }};" class={{ "gamemap__item-playable" if cell._playable_field else "gamemap__item-unplayable" }}>
      {% set unit_in_cell = map.get_unit_by_point(cell.x, cell.y) %}
      {% if unit_in_cell != None %}
        <img data-coordinates="{{ cell.x }} {{ cell.y }}" src="{{ unit_in_cell.get_img_path() }}" class="gamemap__img"/>
      {% endif %}
    </div>
   {% endfor %}
    </div>
{% endblock %}