{% block content %}
<ul class="playercol">
  {% for unit in map.units %}
    {% if unit.player_id == 2 %}
    {% set unit_stats = unit.get_stats() %}
    <li style="font-size: 20px; text-align: center;">
        <ul class="unit-stats">
          <li>
            <label>
              <img class="icons" src="static/img/icons/Move.png"/>
              {{unit_stats['move'] }}
            </label>
          </li>
          <li>
            <label>
              <img class="icons" src="static/img/icons/Range.png"/>
              {{unit_stats['attack'] }}
            </label>
          </li>
        </ul>
        <ul class="unit-stats">
          <li>
            <label>
              <img class="icons" src="static/img/icons/HP-Full.png"/>
              {{unit_stats['hp'] }}
            </label>
          </li>
          <li>
            <label>
              <img class="icons" src="static/img/icons/Attack.png"/>
              {{unit_stats['damage'] }}
            </label>
          </li>
        </ul>
        <img src="{{ unit.get_img_path() }}"/>
    </li>
    {% endif %}
  {% endfor %}
</ul>
{% endblock %}
