<html>

<head>
  <title>Minecraft strategy</title>
  <link type="text/css" rel="stylesheet" href="/static/mystyle.css" />
</head>

<body>
  <header>
    <div class="container">
      <img src="static/img/ArcherA.png" class="logo" />
      <label>{{ winner }}</label>
      <a href="/" class="new-game">Новая игра</a>
    </div>
  </header>
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-1-8-l">
          <ul class="playercol">
            {% include '_playerone.html' %}
          </ul>
        </div>
        <div class="col-6-8">
          <form style="font-family: 'Nunito', sans-serif; color: #333; font-size: 20px;" action="" method="post"
            novalidate>
            {{ form.hidden_tag() }}
            {{ form.unit.label }}
            {{ form.unit(size=32, autocomplete="off") }}
            {% for error in form.unit.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {{ form.action }}
            {{ form.target.label }}
            {{ form.target(size=32, autocomplete="off") }}
            {% for error in form.target.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {{ form.submit() }}
          </form>
          {% include '_map.html' %}
        </div>
        <div class="col-1-8-r">
          {% include '_playertwo.html' %}
        </div>
      </div>
    </div>
  </div>
  <script src="/static/script.js">
  </script>
</body>
</html>